<app-header></app-header>
<div class="breadcrumbs">
    <a class="pl-1" routerLink="/store"><span class="oi oi-home"></span> Accueil</a> > <a class="pl-1">Inscription</a>
</div>
<div class="wrapper">
    <div class="row">
        <div class="titleCart col-12">Inscription</div>
    </div>
    <div class="row mt-3">
        <div *ngIf="client" class="col-8">

            <form novalidate #form="ngForm">
                <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="email">Votre email:</label>
                    <div class="col-md-7"><input class="form-control form-control-sm form-control form-control-sm-sm newEmail" type="text" name="email" [(ngModel)]="client.email" /></div>
                </div>
                <div class="form-group row">
                    <label class="col-md-5 col-form-label" for="password">Votre mot de passe:</label>
                    <div class="col-md-7" style="position:relative">
                        <input class="form-control form-control-sm form-control form-control-sm-sm newPassword" type={{chosenType}} name="password" [(ngModel)]="client.password" />
                        <span class="chosenType" (click)="changePassType(chosenType)">
                                <span class="oi oi-eye"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-12"><button type="button" class="btn btn-outline-primary" (click)="submitNewProfile(client)">Complétez votre profile</button></div>
                </div>
            </form>
            <div *ngIf="errorMessage != null" class="errorMessage">{{errorMessage}}</div>
        </div>
    </div>
</div>