<app-header></app-header>
<div class="breadcrumbs">
    <a class="pl-1" routerLink="/store">
        <span class="oi oi-home"></span> Accueil</a> >
    <a class="pl-1">Administration</a>
</div>
<div class="wrapper">
    <div class="row">
        <div class="titleCart col-12 mb-3">Interface Administrateur</div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-4">
            <ul>
                <li class="categoryAdmin">
                    <span id="ordersListBtn" routerLink="/editor/products">Voir les commandes</span>
                </li>
                <li class="categoryAdmin">
                    <span id="productsListBtn" routerLink="/editor/products">Voir les produits</span>
                </li>
            </ul>
        </div>
        <div class="col-md-9 ">
     
        </div>
    </div>
</div>