<app-header></app-header>
<div class="breadcrumbs">
    <a class="pl-1" routerLink="/store">
        <span class="oi oi-home"></span> Accueil</a> >
    <a class="pl-1">Administration</a>
</div>
<div class="wrapper">
    <div class="row">
        <div class="titleCart col-12 mb-3">Interface Administrateur</div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-4">
            <ul>
                <li class="categoryAdmin">
                    <a  id="ordersListBtn" routerLink="/editor/orders" routerLinkActive="active">Voir les commandes</a>
                </li>
                <li class="categoryAdmin">
                    <a id="productsListBtn" routerLink="/editor/products" routerLinkActive="active">Voir les produits</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 ">
                
            <router-outlet>xxx</router-outlet>
        </div>
    </div>
</div>